@using Trail365
@model Trail365.ViewModels.EventViewModel
@{
    var divID = $"{Model.ID}-Default";
    var externalDetails = false;

    string col_left = "col-3";
    string col_right = "col-9";
    string row = "row no-gutters";

}
<div id="@divID">

    <a href="@Model.DetailsUrl" @Html.Raw(externalDetails ? "target='_blank'" : string.Empty) class="deal-link d-block">
        <div class="@row">
            <div class="col text-wrap">
                <span class="name">@Model.Name</span>
            </div>
        </div>

        <div class="row">

            <div class="@col_left">
                    <span class="d-inline-block text-center">
                        <span class="month d-block position-relative">@Model.StartTimeMonth()</span>
                        <span class="day d-block position-relative">@Model.StartTimeDayOfMonth()</span>
                        <span class="time d-block position-relative">@Model.StartTimeWeekDay() @Model.StartTimeClock()</span>
                    </span>
            </div>

            <div class="@col_right pr-0">


                @if (this.Model.Trail != null)
                {
                    <partial name="_TrailMetadata" model="@this.Model.Trail" />
                }

                <div class="row">
                    <div class="col-12 pr-0">
                        <p class="trail-preview-title">@Model.GetHumanizedPlaceOrDefault()</p>
                    </div>
                </div>

                @*@HtmlHelperExtension.DisplayMultilineMarkdownAsRowOrNothing(this.Html, @Model.Excerpt, @Model.DetailsUrl)*@

            </div>
        </div>
        @HtmlHelperExtension.EmptyRow(this.Html, 1)
    </a>
</div>
