@using Trail365.Configuration
@using Trail365.Entities
@model Trail365.ViewModels.UserBackendViewModel
@inject Microsoft.Extensions.Options.IOptionsMonitor<AppSettings> _settings

@{
    ViewData["Title"] = $"Benutzer '{Model.Name}' bearbeiten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <h4 class="headline mb-1">@ViewData["Title"]</h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr class="border-top" />
    </div>
</div>

<form asp-action="Edit">

    <div class="row">
        <div class="col-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
        </div>
    </div>

    <div class="row">
        <div class="col-2 text-right">
            <label asp-for="Name" class="d-block pt-3"></label>
        </div>
        <div class="col-10">
            <input asp-for="Name" class="w-100" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <span></span>
        </div>
        <div class="col-10">
            <span asp-validation-for="Name" class="text-danger pt-3 d-block"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-2 text-right">
            <label asp-for="Surname" class="d-block pt-3"></label>
        </div>
        <div class="col-10">
            <input asp-for="Surname" class="w-100" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <span></span>
        </div>
        <div class="col-10">
            <span asp-validation-for="Surname" class="text-danger pt-3 d-block"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-2 text-right">
            <label asp-for="GivenName" class="d-block pt-3"></label>
        </div>
        <div class="col-10">
            <input asp-for="GivenName" class="w-100" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <span></span>
        </div>
        <div class="col-10">
            <span asp-validation-for="GivenName" class="text-danger pt-3 d-block"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-2 text-right">
            <label asp-for="AvatarUrl" class="d-block pt-3"></label>
        </div>
        <div class="col-10">
            <input asp-for="AvatarUrl" class="w-100" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <span></span>
        </div>
        <div class="col-10">
            <span asp-validation-for="AvatarUrl" class="text-danger pt-3 d-block"></span>
        </div>
    </div>

    @if (Model.Login.IsAdmin)
    {
        <div class="row">
            <div class="col-6">
                <h5>Administrator</h5>
            </div>
            <div class="col-3 pl-0 text-right">
                <small class="fg-grey">@(Model.IsAdministrator ? "Freigabe" : "Gesperrt")</small><br />
                <input asp-for="IsAdministrator" class="apple-switch-small ml-0" />
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <h5>Moderator</h5>
            </div>
            <div class="col-3 pl-0 text-right">
                <small class="fg-grey">@(Model.IsModerator ? "Freigabe" : "Gesperrt")</small><br />
                <input asp-for="IsModerator" class="apple-switch-small ml-0" />
            </div>
        </div>
    }

    <div class="row">
        <div class="col-6">
            <h5>Member</h5>
        </div>
        <div class="col-3 pl-0 text-right">
            <small class="fg-grey">@(Model.IsMember ? "Freigabe" : "Gesperrt")</small><br />
            <input asp-for="IsMember" class="apple-switch-small ml-0" />
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <h5>User</h5>
        </div>
        <div class="col-3 pl-0 text-right">
            <small class="fg-grey">@(Model.IsUser ? "Freigabe" : "Gesperrt")</small><br />
            <input asp-for="IsUser" class="apple-switch-small ml-0" />
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <button type="submit" class="btn btn-primary d-block w-100">
                <i class="fa fa-arrow-transparent">&nbsp;</i>
                User speichern
            </button>
        </div>

        <div class="col-4"></div>

        <div class="col-4">
            <a asp-controller="Users" asp-action="Index" class="btn btn-primary d-block w-100">
                <i class="fa fa-arrow-transparent">&nbsp;</i>
                Zurück
            </a>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
