@using Trail365
@model Trail365.ViewModels.EventViewModel
@{
    var divID = $"{Model.ID}-Default";
    var externalDetails = false;
}
<div id="@divID">

    <a href="@Model.DetailsUrl" @Html.Raw(externalDetails ? "target='_blank'" : string.Empty) class="deal-link d-block">

        @HtmlHelperExtension.DisplayTitleAsRow(this.Html, Model.Name)

        <div class="row">

            <div class="col-4">
                <div class="trail-preview-wrapper">
                    <img src="@(Model.CoverImageUrl)" class="img-fluid" />
                </div>
            </div>

            <div class="col-8 pr-0">
                <div class="row">
                    <div class="col-12 pr-0">
                        <p class="trail-preview-title">@Model.GetHumanizedStartEndDate()</p>
                    </div>
                </div>
                @HtmlHelperExtension.EmptyRow(this.Html)
                <div class="row">
                    <div class="col-12 pr-0">
                        <p class="trail-preview-title">@Model.GetHumanizedPlaceOrDefault()</p>
                    </div>
                </div>

                @HtmlHelperExtension.DisplayMultilineMarkdownAsRowOrNothing(this.Html, @Model.Excerpt,@Model.DetailsUrl)
            </div>
        </div>
        @HtmlHelperExtension.EmptyRow(this.Html, 1)
    </a>
</div>
