@using Trail365
@using Trail365.Entities
@using Trail365.ViewModels
@model Trail365.ViewModels.StoryViewModel
@{
    int itemIndex = 0;
}

@while (itemIndex < Model.Blocks.Count)
{

    var currentItem = Model.Blocks[itemIndex];
    StoryBlockViewModel nextItem = null;
    bool nextItemIsImage = false;

    if (itemIndex + 1 < Model.Blocks.Count)
    {
        nextItem = Model.Blocks[itemIndex + 1];
        nextItemIsImage = nextItem.BlockType == StoryBlockType.Image && (string.IsNullOrEmpty(nextItem.ImageUrl) == false);
    }

    @if (currentItem.BlockType == StoryBlockType.Title)
    {
        @if (string.IsNullOrEmpty(currentItem.ImageUrl) == false)
        {
            <div class="row">
                <div class="col-12">
                    @Html.GetImageRenderingHtml(currentItem.BlockType, currentItem.ImageUrl, currentItem.Content, false)
                </div>
            </div>
        }

        @if (String.IsNullOrEmpty(currentItem.Content) == false)
        {

            <div class="row">
                <div class="col-12 pt-1 pb-1">
                    @Html.Raw(currentItem.GetTextRenderingHtml())
                </div>
            </div>
        }
    }

    @if (currentItem.BlockType == StoryBlockType.Excerpt)
    {
        @HtmlHelperExtension.DisplayMultilineMarkdownAsRowOrNothing(this.Html, currentItem.Content)
        //TODO Excerpt with Image means what?

    }

    @if (currentItem.BlockType == StoryBlockType.Text)
    {
        @HtmlHelperExtension.DisplayMultilineMarkdownAsRowOrNothing(this.Html, currentItem.Content)
        //TODO Text with Image means what?

        @if (string.IsNullOrEmpty(currentItem.ImageUrl) == false)
        {
            <div class="row">
                <div class="col-12">
                    @Html.GetImageRenderingHtml(currentItem.BlockType, currentItem.ImageUrl, currentItem.Content, false)
                </div>
            </div>
        }
    }

    @if (currentItem.BlockType == StoryBlockType.Image)
    {

        @if (string.IsNullOrEmpty(currentItem.ImageUrl) == false)
        {
            if (nextItemIsImage)
            {
                itemIndex += 1;
                <div class="row">
                    <div class="col-6">
                        @Html.GetImageRenderingHtml(currentItem.BlockType, currentItem.ImageUrl, currentItem.Content, false)
                    </div>
                    <div class="col-6">
                        @Html.GetImageRenderingHtml(nextItem.BlockType, nextItem.ImageUrl, nextItem.Content, false)
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-12">
                        @Html.GetImageRenderingHtml(currentItem.BlockType, currentItem.ImageUrl, currentItem.Content, false)
                    </div>
                </div>
            }
        }
    }

    itemIndex += 1;
}
