@model Trail365.ViewModels.StoryViewModel
@using Trail365
@{
    var divID = $"{Model.ID}-Default";
    var aID = $"{Model.ID}-a";
    var detailsUrl = Url.Action("Index", "Story", new { ID = Model.ID, NoConsent = false });
    var externalDetails = false;
}
<div id="@divID">


    @if (Model.Login.IsModeratorOrHigher)
        {
    <div class="row">
        <div class="col-3">
            <a class="fg-link" asp-area="" asp-controller="StoryEditor" asp-action="Edit" asp-route-Id="@this.Model.ID">[Edit]</a>
        </div>
        <div class="col-3">
            <a class="fg-link" asp-area="" asp-controller="StoryDetails" asp-action="Index" asp-route-Id="@this.Model.ID">[Details]</a>
        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
        </div>
    </div>
        }
    @HtmlHelperExtension.DisplayTitleAsRow(this.Html, Model.Name,true, detailsUrl)
    @HtmlHelperExtension.DisplayMultilineMarkdownAsRowOrNothing(this.Html, Model.Excerpt, detailsUrl)
</div>
