@using Trail365
@using Trail365.Entities
@model Trail365.ViewModels.TrailViewModel
@{
    var divID = $"{Model.ID}-Default";
    var detailsUrl = Url.GetTrailDetailsUrl(Model.ID);
    var externalDetails = false;
    ChallengeLevel overall = ViewData.GetOverallChallengeOrDefault(Model.Challenge);
}
<div id="@divID">

    <a href="@detailsUrl" @Html.Raw(externalDetails ? "target='_blank'" : string.Empty) class="deal-link d-block">

        @if (this.Model.HideName == false)
        {
            <div class="row">
                <div class="col-12 pr-0">
                    <h4 class="headline mb-0 text-truncate">@Model.Name</h4>
                </div>
            </div>
            @HtmlHelperExtension.EmptyRow(this.Html)
        }

        <div class="row">
            <div class="col-6">
                <div class="trail-preview-wrapper">
                    <img src="@(Model.GetSmallestPreviewUrlOrDefault())" class="img-fluid" />
                </div>
            </div>

            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <div class="trail-preview-wrapper">
                            <img src="@(Model.GetChallengeElevationProfileUrlOrDefault(overall))" class="img-fluid" />
                        </div>
                    </div>
                </div>
                @*<partial name="_TrailMeasures" model="@(Model)" />*@
            </div>
        </div>
    </a>
    @if (!this.Model.HideExcerpt)
    {
        @HtmlHelperExtension.DisplayMultilineMarkdownAsRowOrNothing(this.Html, this.Model.Excerpt)
    }
</div>
