@using Trail365
@model Trail365.ViewModels.TrailViewModel
@{
    string col_left = "col-3";
    string col_right = "col-6";
    string col_right1 = "col-3";
    if (!this.Model.ShowEditLink)
    {
        col_right = "col-9";
    }

    string row = "row no-gutters";
    bool? bagValue = this.ViewBag.HideIdentifierRow as bool?;
    bool hideIdentifierRow = false;
    if (bagValue.HasValue)
    {
        hideIdentifierRow = bagValue.Value;
    }
}

@if (!hideIdentifierRow)
{
<div class="@row">
    <div class="@col_left">Strecke:</div>

    <div class="@col_right">
        <a class="fg-link" asp-area="" asp-controller="TrailDetails" asp-action="Trail" asp-route-Id="@this.Model.ID">@Model.Name</a>
    </div>

    @if ((this.Model.Login.IsModeratorOrHigher) && (this.Model.ShowEditLink))
    {
    <div class="@col_right1">
        <a class="fg-link" asp-area="Backend" asp-controller="Trails" asp-action="Edit" asp-route-Id="@this.Model.ID">[Edit]</a>
    </div>
    }
</div>
}
<div class="@row">
    <div class="@col_left">
        <span>&nbsp;</span>
    </div>

    <div class="@col_right">
        @if (Model.DistanceKm.HasValue)
        {
        <div class="">
            <i class="fas fa-arrows-alt-h"></i>&nbsp;@Model.DistanceKm.Value.ToKmFormat()<span class="">&nbsp;km</span>
        </div>
        }
    </div>
</div>

<div class="@row">
    <div class="@col_left">
        <span>&nbsp;</span>
    </div>

    <div class="@col_right">
        @if (Model.Ascent.HasValue)
        {
        <div class="">
            <i class="fas fa-arrow-up"></i>&nbsp;@Model.Ascent.ToIntFormat()<span class="">&nbsp;hm</span>
        </div>
        }
        @if (Model.Descent.HasValue)
        {
        <div class="">
            <i class="fas fa-arrow-down"></i>&nbsp;@Model.Descent.ToIntFormat()<span class="">&nbsp;hm</span>
        </div>
        }
    </div>
</div>

<div class="@row">
    <div class="@col_left d-none d-sm-block">Challenge:</div>
    <div class="@col_left d-block d-sm-none">CH:</div>
    <div class="@col_right">@Model.Challenge</div>
</div>

@if (this.Model.CanDownload() && (this.Model.ShowDownloadLink))
{
<div class="@row">
    <div class="@col_left">
        Gpx Track:
    </div>
    <div class="@col_right">
        <a class="fg-link" href="@Model.GpxUrl" target="_blank">
            <p>Gpx Track</p>
        </a>
    </div>
</div>
}
