@using System.Globalization
@model Trail365.ViewModels.EventBackendViewModel

@{
    ViewData["Title"] = $"Veranstaltung '{Model.Name}' bearbeiten";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string col_left = "col-3 text-right";
    string col_right = "col-9";
}

<div class="row">
    <div class="col-12">
        <h4 class="headline mb-1">@ViewData["Title"]</h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr class="border-top" />
    </div>
</div>

<form asp-action="Edit">

    <div class="row">
        <div class="col-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
        </div>
    </div>

    <div class="row">
        <div class="@col_left">
            <label asp-for="Name" class="d-block pt-3"></label>
        </div>
        <div class="@col_right">
            <input asp-for="Name" class="w-100" />
        </div>
    </div>

    <div class="row">
        <div class="@col_left">
            <span></span>
        </div>
        <div class="@col_right">
            <span asp-validation-for="Name" class="text-danger pt-3 d-block"></span>
        </div>
    </div>

    <div class="row">
        <div class="@col_left">
            <label asp-for="Status" class="d-block pt-3"></label>
        </div>
        <div class="@col_right">
            <select asp-for="Status" asp-items="ViewBag.Status" class="w-100"></select>
        </div>
    </div>

    <div class="row">
        <div class="@col_left">
            <span></span>
        </div>
        <div class="@col_right">
            <span asp-validation-for="Status" class="text-danger pt-3 d-block"></span>
        </div>
    </div>

    <div class="row">
        <div class="@col_left">
            <label asp-for="FullDayEvent" class="d-block pt-3"></label>
        </div>
        <div class="@col_right">
            <input asp-for="FullDayEvent" type="checkbox" class="apple-switch ml-0">
        </div>
    </div>

    <div class="row">
        <div class="@col_left">
            <label asp-for="StartTime" class="d-block pt-3"></label>
        </div>
        <div class="@col_right">
            <input asp-for="StartTime" type="datetime-local" value="@(Model.StartTime.HasValue ? Model.StartTime.Value.ToString("yyyy-MM-ddTHH:mm") : string.Empty)" class="w-100" />
        </div>
    </div>

    <div class="row">
        <div class="@col_left">
            <label asp-for="EndTime" class="d-block pt-3"></label>
        </div>
        <div class="@col_right">
            <input asp-for="EndTime" type="datetime-local" value="@(Model.EndTime.HasValue ? Model.EndTime.Value.ToString("yyyy-MM-ddTHH:mm") : string.Empty)" class="w-100" />
        </div>
    </div>

    <div class="row">
        <div class="@col_left">
            <label asp-for="Excerpt" class="d-block pt-3"></label>
        </div>
        <div class="@col_right">
            <textarea asp-for="Excerpt" class="w-100" rows="4"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="@col_left">
            <span></span>
        </div>
        <div class="@col_right">
            <span asp-validation-for="Excerpt" class="text-danger pt-3 d-block"></span>
        </div>
    </div>

    <div class="row">
        <div class="@col_left">
            <label asp-for="Description" class="d-block pt-3"></label>
        </div>
        <div class="@col_right">
            <textarea asp-for="Description" class="w-100" rows="6"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="@col_left">
            <label asp-for="InternalDescription" class="d-block pt-3"></label>
        </div>
        <div class="@col_right">
            <textarea asp-for="InternalDescription" class="w-100" rows="6"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="@col_left">
            <span></span>
        </div>
        <div class="@col_right">
            <span asp-validation-for="Description" class="text-danger pt-3 d-block"></span>
        </div>
    </div>

    <div class="row">
        <div class="@col_left">
            <label asp-for="HasDescriptionImportLock" class="d-block pt-3"></label>
        </div>
        <div class="@col_right">
            <input asp-for="HasDescriptionImportLock" class="apple-switch ml-0" type="checkbox" />
        </div>
    </div>

    <div class="row">
        <div class="@col_left">
            <label asp-for="ReadAccess" class="d-block pt-3"></label>
        </div>
        <div class="@col_right">
            <select asp-for="ReadAccess" asp-items="ViewBag.ReadAccess" class="w-100"></select>
        </div>
    </div>

    <div class="row">
        <div class="@col_left">
            <span></span>
        </div>
        <div class="@col_right">
            <span asp-validation-for="ReadAccess" class="text-danger pt-3 d-block"></span>
        </div>
    </div>

    <div class="row">
        <div class="@col_left">
            <label asp-for="Created" class="d-block pt-3"></label>
        </div>
        <div class="@col_right">
            <input asp-for="Created" type="text" value="@Model.Created.ToString(CultureInfo.CurrentCulture)" class="w-100" readonly="readonly" />
        </div>
    </div>

    <div class="row">
        <div class="@col_left">
            <label asp-for="Modified" class="d-block pt-3"></label>
        </div>
        <div class="@col_right">
            <input asp-for="Modified" type="text" value="@(Model.Modified.HasValue ? Model.Modified.Value.ToString(CultureInfo.CurrentCulture) : string.Empty)" class="w-100" readonly="readonly" />
        </div>
    </div>

    <div class="row">
        <div class="@col_left">
            <label asp-for="CoverImageUrl" class="d-block pt-3"></label>
        </div>
        <div class="@col_right">
            <input asp-for="CoverImageUrl" class="w-100" readonly="readonly">
        </div>
    </div>

    <div class="row">
        <div class="@col_left">
            <label asp-for="PlaceID" class="d-block pt-3"></label>
        </div>
        <div class="@col_right">
            <select asp-for="PlaceID" asp-items="ViewBag.PlaceID" class="w-100"></select>
        </div>
    </div>

    <div class="row">
        <div class="@col_left">
            <span></span>
        </div>
        <div class="@col_right">
            <span asp-validation-for="PlaceID" class="text-danger pt-3 d-block"></span>
        </div>
    </div>

    <div class="row">
        <div class="@col_left">
            <label asp-for="HasPlaceImportLock" class="d-block pt-3"></label>
        </div>
        <div class="@col_right">
            <input asp-for="HasPlaceImportLock" class="apple-switch ml-0" type="checkbox" />
        </div>
    </div>

    <div class="row">
        <div class="@col_left">
            <label asp-for="EndPlaceID" class="d-block pt-3"></label>
        </div>
        <div class="@col_right">
            <select asp-for="EndPlaceID" asp-items="ViewBag.EndPlaceID" class="w-100"></select>
        </div>
    </div>

    <div class="row">
        <div class="@col_left">
            <span></span>
        </div>
        <div class="@col_right">
            <span asp-validation-for="EndPlaceID" class="text-danger pt-3 d-block"></span>
        </div>
    </div>

    <div class="row">
        <div class="@col_left">
            <label asp-for="TrailID" class="d-block pt-3"></label>
        </div>
        <div class="@col_right">
            <select asp-for="TrailID" asp-items="ViewBag.TrailID" class="w-100"></select>
        </div>
    </div>

    <div class="row">
        <div class="@col_left">
            <span></span>
        </div>
        <div class="@col_right">
            <span asp-validation-for="TrailID" class="text-danger pt-3 d-block"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <button type="submit" class="btn btn-primary d-block w-100">
                <i class="fa fa-arrow-transparent">&nbsp;</i>
                Event speichern
            </button>
        </div>

        <div class="col-4"></div>

        <div class="col-4">
            <a asp-controller="Events" asp-action="Index" class="btn btn-primary d-block w-100">
                <i class="fa fa-arrow-transparent">&nbsp;</i>
                Zurück
            </a>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
