@using Trail365
@model Trail365.ViewModels.EventViewModel
@{
    var divID = $"{Model.ID}-Default";
    var externalDetails = false;
    string row = "row no-gutters";
}
<div id="@divID">
    <div class="row">

        <div class="col-2 pt-3">

            <a href="@Model.DetailsUrl" @Html.Raw(externalDetails ? "target='_blank'" : string.Empty) class="deal-link d-block">

                <span>
                    <span class="month d-block position-relative text-center">@Model.StartTimeMonth()</span>
                    <span class="day d-block position-relative text-center">@Model.StartTimeDayOfMonth()</span>
                    <span class="time d-block position-relative text-center">@Model.StartTimeWeekDay() @Model.StartTimeClock()</span>
                </span>
            </a>

        </div>

        <div class="col-7 pr-0 pt-3 border-top">

            <a href="@Model.DetailsUrl" @Html.Raw(externalDetails ? "target='_blank'" : string.Empty) class="deal-link d-block">

                <div class="@row">
                    <div class="col text-wrap">
                        <span class="name">@Model.Name</span>
                    </div>
                </div>

            </a>


            @if (this.Model.Trail != null)
            {
                <a href="@this.Url.GetTrailDetailsUrl(Model.Trail.ID)" @Html.Raw(externalDetails ? "target='_blank'" : string.Empty) class="deal-link d-block">

                    <div class="@row pt-2">
                        <div class="col">
                            @if (Model.Trail.DistanceKm.HasValue)
                            {
                                <div class="">
                                    <i class="fas fa-arrows-alt-h"></i>&nbsp;@Model.Trail.DistanceKm.Value.ToKmFormat()<span class="">&nbsp;km</span>
                                </div>
                            }
                            @if (Model.Trail.Ascent.HasValue)
                            {
                                <div class="">
                                    <i class="fas fa-arrow-up"></i>&nbsp;@Model.Trail.Ascent.ToIntFormat()<span class="">&nbsp;hm</span>
                                </div>
                            }
                            @if (Model.Trail.Descent.HasValue)
                            {
                                <div class="">
                                    <i class="fas fa-arrow-down"></i>&nbsp;@Model.Trail.Descent.ToIntFormat()<span class="">&nbsp;hm</span>
                                </div>
                            }
                        </div>
                    </div>
                </a>
            }
            else
            {
                @if (!string.IsNullOrEmpty(this.Model.Excerpt))
                {
                    @HtmlHelperExtension.DisplayMultilineMarkdownAsRow(this.Html, this.Model.Excerpt, false, string.Empty, "pt-2", string.Empty)
                }
            }
        </div>

        <div class="col-3 pt-3">

            @if (this.Model.Login.IsModeratorOrHigher)
            {
                <a class="fg-link" asp-area="Backend" asp-controller="Places" asp-action="Edit" asp-route-Id="@this.Model.Place.ID">
                    @Model.GetHumanizedPlaceOrDefault()
                </a>
            }
            else
            {
                <span>@Model.GetHumanizedPlaceOrDefault()</span>
            }
            <p></p>
            <p class="time">@this.Model.GetMeetingPointOrDefault()</p>

        </div>
    </div>
</div>
